* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px 35px;
}
.quote {
  font-family: 'Marck Script', cursive;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 1px;
  min-height: 80px;
}
.quote:before,
.quote:after {
  content: '"';
}
.author {
  margin: 20px 0;
  font-weight: 600;
}
.manage-buttons {
  display: flex;
  margin-top: 20px;
}
.add a {
  padding: 15px 25px;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
}
.generate a {
  padding: 15px 25px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.select {
  margin-top: 20px;
  position: relative;
}
.select-body {
  width: 200px;
  padding: 15px 10px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.select-body:hover, .select-body:focus, .select-body.active {
  box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
}
.select-body:after {
  content: '';
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.select-options {
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  width: 100%;
  display: none;
  overflow-y: auto;
  max-height: 200px;
}
.select-options.active {
  display: block;
}
.option {
  border-bottom: 1px solid #333;
  padding: 15px 10px;
  cursor: pointer;
}
.option:hover {
  background-color: #333;
  color: #fff;
}
.option:first-child {
  border-radius: 5px 5px 0 0;
}
.option:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 0;
}
.select-body-hidden {
  display: none;
}
.popup {
  display: flex;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(0,0,0,0.7);
  transition: 0.5s ease;
}
.popup.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}
.close-popup {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.form-body {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
  border-radius: 10px;
  background-color: #fff;
}
.form-body > div:not(:first-child) {
  margin-top: 20px;
}
.add-btn {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
input {
  padding: 10px 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: inherit;
  border: 1px solid #333;
}